---
import { getCollection, type CollectionEntry } from 'astro:content'
import FullLayout from '../layouts/full.astro'
import { formatDateDayMonth } from '../utils'

const rawPosts = await getCollection('journalEntries')
const posts = rawPosts
  .filter((post) => post.data.draft !== true)
  .toSorted(
    (a, b) => b.data.publishedDate.valueOf() - a.data.publishedDate.valueOf()
  )

const grouped = Array.from(
  posts.reduce<Map<number, CollectionEntry<'journalEntries'>[]>>(
    (acc, post) => {
      const year = post.data.publishedDate.getFullYear()
      acc.set(year, (acc.get(year) ?? []).concat(post))
      return acc
    },
    new Map()
  )
)
---

<style>
  .entryitem {
    display: grid;
    gap: 0.25rem;
  }

  .entryitem__row {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: baseline;
    gap: 1rem;

    time {
      justify-self: end;
      font-size: 0.8rem;
    }
  }

  .entryitem__excerpt {
    margin-block: 0;
  }
</style>

<FullLayout title="Journal">
  <div class="flow">
    <h1>Journal</h1>
    {
      grouped.map(([year, posts]) => (
        <section class="flow" aria-labelledby={`journal-year-${year}`}>
          <h2 id={`journal-year-${year}`}>{year}</h2>
          {posts.map((post) => (
            <article class="entryitem">
              <div class="entryitem__row">
                <span>
                  <a href={`journal/${post.id}`}>{post.data.title}</a>
                </span>
                <time datetime={post.data.publishedDate.toISOString()}>
                  {formatDateDayMonth(post.data.publishedDate)}
                </time>
              </div>
              {post.data.excerpt && (
                <p class="entryitem__excerpt">
                  <em>{post.data.excerpt}</em>
                </p>
              )}
            </article>
          ))}
        </section>
      ))
    }
  </div>
</FullLayout>
